@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
input[name="vimeo_videos[]"], input[name="vimeo_ids"], input[name="vimeo_data"], div#fitem_id_vimeo_data {
  display: none !important; }

ul#vimeo_links {
  min-height: 100px;
  max-width: 400px;
  border: 1px solid;
  list-style: none;
  margin: 0 0 20px; }
  ul#vimeo_links li {
    padding: 10px 20px;
    -moz-animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    animation: fadeIn 2s; }
    ul#vimeo_links li button {
      border: none;
      background: none;
      line-height: normal;
      margin: 0;
      padding: 0;
      float: right;
      font-size: 10px;
      color: inherit; }

ul#video_files {
  min-height: 100px;
  max-width: 400px;
  border: 1px dashed;
  list-style: none;
  margin: 0; }
  ul#video_files.error {
    border-color: red; }
  ul#video_files li {
    padding: 10px 20px;
    -moz-animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s;
    -o-animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    animation: fadeIn 2s; }
    ul#video_files li button {
      border: none;
      background: none;
      line-height: normal;
      margin: 0;
      padding: 0;
      float: right;
      color: inherit; }
    ul#video_files li.placeholder {
      opacity: 0.5; }
    ul#video_files li .file-progress {
      height: 20px !important;
      border: 1px solid #0070a8 !important; }
      ul#video_files li .file-progress .progress-label {
        color: #FF8F57 !important;
        position: absolute;
        margin-left: 25px;
        left: inherit !important; }
      ul#video_files li .file-progress .ui-progressbar-value {
        height: 20px !important;
        background: #0070a8 !important; }

ul.vimeo-list-preview {
  list-style: none; }
  ul.vimeo-list-preview li {
    padding: 20px 0;
    border-bottom: 1px solid; }

/*# sourceMappingURL=styles.css.map */
