$prefix:'-moz-', '-webkit-', '-o-', '-ms-', '';
// ********************
// fadeIn
// ********************
@mixin keyframe-fadeIn {
  0%   { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-webkit-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-o-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@-ms-keyframes fadeIn {
  @include keyframe-fadeIn;
}
@keyframes fadeIn {
  @include keyframe-fadeIn;
}
@mixin fadeIn( $arg ) {
  $keyframe-name:fadeIn;
  $duration:$arg;
  @each $p in $prefix {
    #{$p}animation:$keyframe-name $duration;
  }
}

input[name="vimeo_videos[]"], input[name="vimeo_ids"], input[name="vimeo_data"], div#fitem_id_vimeo_data {
    display: none !important;
}

ul#vimeo_links {
    min-height: 100px;
    max-width: 400px;
    border: 1px solid;
    list-style: none;
    margin: 0 0 20px;

    li {
        padding: 10px 20px;
        @include fadeIn( 2s );

        button {
            border: none;
            background: none;
            line-height: normal;
            margin: 0;
            padding: 0;
            float: right;
            font-size: 10px;
            color: inherit;
        }
    }
}

ul#video_files {
    min-height: 100px;
    max-width: 400px;
    border: 1px dashed;
    list-style: none;
    margin: 0;

    &.error {
        border-color: red;
    }
    
    li {
        padding: 10px 20px;
        @include fadeIn( 2s );

        button {
            border: none;
            background: none;
            line-height: normal;
            margin: 0;
            padding: 0;
            float: right;
            color: inherit;
        }

        &.placeholder {
            opacity: 0.5;
        }

        .file-progress {
            height: 20px !important;
            border: 1px solid #0070a8 !important;

            .progress-label {
                color: #FF8F57 !important;
                position: absolute;
                margin-left: 25px;
                left: inherit !important;
            }

            .ui-progressbar-value {
                height: 20px !important;
                background: #0070a8 !important;
            }
        }
    }
}

ul.vimeo-list-preview {
    list-style: none;

    li {
        padding: 20px 0;
        border-bottom: 1px solid;
    }
}

